@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background: #222222;

}

body ::selection{
  background-color: var(--third-color);
  color: #fff;
}

button{
  font-family: 'Fira Sans';
}


html{
  scroll-behavior: smooth;
}

b{
  /* color: var(--white-font-black-font-main); */
  color: #e9e7e7;
}

:root{
  --main-color: #DEC834;
  --second-color: #FFEA63;
  --third-color: #E4D04C;
  --white-font-black-font-main: #fff;
}

img{
  user-select: none;
}